<h1>Listing all comments</h1>
<p>should probs limit this to JUST Jaime's Blog </p>


    <% @comments.each do |comment| %>
        
        <p><%= comment.comment %></p>
        <p><small>by <%= comment.author %></small></p>
        <p><small><%= comment.created_at.strftime("%b %d, %Y") %></small></p>
<!--         <p><%= comment.blog_post_id %></p>
 -->        <p><%= link_to 'Show', comment %>
        | <%= link_to 'Edit', edit_comment_path(comment) %>
        | <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      
    <% end %>


<br>

<%= link_to 'New Comment', new_comment_path %>
