<h1>Listing comments</h1>


    <% @comments.each do |comment| %>
      
        <p>by <%= comment.author %></p>
        <p><%= comment.comment %></p>
        <p><%= comment.blog_post.subject %></p>
        <p><%= link_to 'Show', comment %>
        | <%= link_to 'Edit', edit_comment_path(comment) %>
        | <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      
    <% end %>


<br>

<%= link_to 'New Comment', new_comment_path %>
