<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :article %><br>
    <%= f.text_area :article, rows: 10, :class => "form-control CodeMirror" %>
  </div>
<!--   <div class="field">
    <%= f.label :blog_id %><br>
    <%= f.select :blog_id, Blog.all.collect {|blog| [ blog.blog_name, blog.id] }, :class => "form-control" %>
  </div> -->
  <br/>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
