  <div class="row">
    <% @blog_posts.each do |blog_post| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/640x480">
            <div class="caption">
              <h3><%= blog_post.subject %></h3>
              <p><small><%= blog_post.created_at.strftime("%b %d, %Y") %></small></p>
              <p class="truncate"><%= blog_post.article %></p>
              <%= link_to 'Read More...', blog_post, :class => "btn btn-primary" %>
              <p><%= link_to 'Edit', edit_blog_post_path(blog_post) %>
              | <%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
</div>          

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
