  <div class="row">
    <% @blog_posts.each do |blog_post| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag('rails.png', width:'640px')%>
            <div class="caption">
              <h2><%= link_to blog_post.subject, blog_post %></h2>
              <p class="author">by <%= blog_post.author %></p>
              <p class="truncate"><%= blog_post.article %></p> 
              <div class="row">
                <div class="col-xs-6"> <%= image_tag('icon-posted-time.png') %> <span class="date"><%= blog_post.created_at.strftime("%b %d, %Y") %></span></div>
                <div class="col-xs-6"><p><!-- Comments <span class="badge"> -->
                  <%= image_tag('icon-comment-count.png') %>
                  <% if blog_post.num_comments == nil %>
                    <span class="no-comments">No Comments</span>
                  <% elsif blog_post.num_comments == 1 %>
                      <span class="comments"><a href="#"><%= blog_post.num_comments %> Comment</a></span>
                  <% else %>
                       <span class="comments"><a href="#"><%= blog_post.num_comments %> Comments</a></span>
                  <% end %>
                </span>
                <!-- </span> -->
                </p></div>
              </div>
<!--               <%= link_to 'Read More...', blog_post, :class => "btn btn-primary" %>
 -->
              <p><%= link_to 'Edit', edit_blog_post_path(blog_post) %>
              | <%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
</div>          

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
