<p id="notice"><%= notice %></p>


<h1><%= @blog_post.subject %></h1>
<p><small><%= @blog_post.created_at.strftime("%b %d, %Y") %></small></p>
<p><%= @blog_post.article %></p>


<!-- <p>
  <strong>Blog:</strong>
  <%= @blog_post.blog.blog_name %>
</p> -->

<p><%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %></p>

<h3>Comments</h3>
<p><a href="#">Comments <span class="badge"><%= @blog_post.num_comments %></span></a></p>
<p><%= link_to 'Add a Comment', new_comment_path %></p>

<% @comments.each do |comment| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<p><%= comment.comment%></p>
			<p><%= comment.created_at.strftime("%b %d, %Y") %></p>
			<p>by <%= comment.author%></p>
		</div>
	</div>
<%end%>





