<% if notice != nil %>
	<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<h2><%= @blog_post.subject %></h2>
				<p class="author">posted by <%= @blog_post.author %> on <%= @blog_post.created_at.strftime("%b %d, %Y") %></p>
				<% if @blog_post.avatar_file_name != nil %>
				  <div><%= image_tag @blog_post.avatar, width:'592px' %></div>
				<% end %>
				<div><%= @blog_post.article.html_safe %></div>

				<p><%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
				<%= link_to 'Back', blog_posts_path %></p>

				<a name ="comments"></a>
				<!-- Show existing comments -->
				<h3> <% if @blog_post.num_comments == nil || @blog_post.num_comments == 0 %>
						No Comments
					 <% elsif @blog_post.num_comments == 1 %>
						<%= @blog_post.num_comments %> Comment
					<% else %>
						<%= @blog_post.num_comments %> Comments
					<% end %>
				</h3>

				<% if @blog_post.num_comments == nil || @blog_post.num_comments == 0 %>
					No comments.
				<% else %>
					<% @comments.each do |comment| %>
						<div class="panel panel-default">
							<div class="panel-body">
								<p><%= comment.comment%></p>
								<p><%= comment.created_at.strftime("%b %d, %Y") %></p>
								<p>by <%= comment.author%></p>
							</div>
						</div>
					<%end%>
				<% end %>

				<h3>Submit a Comment</h3>
				<%= form_for(@comment) do |f| %>
				  <% if @comment.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
				      <ul>
				      	<% @comment.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  <div class="field">
				    <%= f.label :author %><br>
				    <%= f.text_field :author, :class => "form-control" %>
				  </div>
				  <div class="field">
				    <%= f.label :comment %><br>
				    <%= f.text_area :comment, :class => "form-control" %>
				  </div>
				   <%= f.hidden_field :blog_post_id, :value => @blog_post.id %>

				  <br/>
				  <div class="actions">
				    <%= f.submit :class => "btn btn-primary" %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>


