
<div class="row">
  <div class="col-md-4"><div class="panel panel-default">
  			<div class="panel-body">
  				<span class="label label-info">About Jaime</span>
  					<h2>Landing in the ATL</h2>
  						<p><%= image_tag 'http://media.tumblr.com/7bf3587d11c3b5ce1783f12024c77d60/tumblr_inline_n74bwk4hfj1rm3ak1.jpg', width:'90%'%></p>
  						<p>
I spent nearly 2 decades in the Washington, DC area before joining the TTS community. I fell in love with web design in college and have been assembling websites since 2000 when I built my first Geocities site dedicated to my summer travels abroad. I’ve always been a front-end/design person, but recently decided to try my hand at application development. That’s where Tech Talent South came in!</p>


<p>I enjoy outdoor sports in all seasons: running, hiking, snowboarding, and playing softball. I also love playing with my tiny dog, Frankie, trying new restaurants, traveling to places near and far, and attending as many concerts as humanly possible. </p>
  			</div>
  		</div></div>
  <div class="col-md-4"><div class="panel panel-default">
  			<div class="panel-body">
  				<span class="label label-primary">Latest Post</span>

					<h2><%= link_to @blog_post.subject, @blog_post %></h2>
  						<p><%= @blog_post.article.html_safe %></p>

  					<p><%= link_to 'All Posts', blog_posts_path %></p>
  			</div>
  		</div></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-md-4"><div class="panel panel-default">
  			<div class="panel-body">
  				<span class="label label-warning">Latest Tweets</span>
  					<h2>Chatter</h2>
					  <ul>
              <% @tweet_news.each do |f| %>
                <li>

                  <%= auto_link(f.text).html_safe %><br/>
                  <p><%= time_ago_in_words(f.created_at) %> ago</p>
                </li>
              <% end %>
            </ul>
  			</div>
  		</div>
  	</div>
</div>
