
<div class="row">
  <div class="col-xs-6 col-sm-4"><div class="panel panel-default">
  			<div class="panel-body">
  				<span class="label label-info">About Jaime</span>
  					<h2>Landing in the ATL</h2>
  						<p><%= image_tag 'jp_about.png', width:'30%'%></p>
  						<p>PBR asymmetrical Pitchfork, next level keffiyeh four loko art party. Put a bird on it biodiesel normcore, street art messenger bag twee kitsch four loko Cosby sweater mlkshk 90's Thundercats. Leggings irony mustache, ugh fap Helvetica cardigan Austin. Cardigan 8-bit iPhone vinyl lomo mumblecore. Next level occupy farm-to-table PBR&B tofu. Godard ennui banjo Pinterest keytar butcher Shoreditch four loko forage. Marfa Banksy dreamcatcher art party ethnic food truck, gastropub church-key keffiyeh.</p>
  			</div>
  		</div></div>
  <div class="col-xs-6 col-sm-4"><div class="panel panel-default">
  			<div class="panel-body">
  				<span class="label label-primary">Latest Post</span>

					<h2><%= link_to @blog_post.subject, @blog_post %></h2>
  						<p><%= @blog_post.article.html_safe %></p>

  					<p><%= link_to 'All Posts', blog_posts_path %></p>
  			</div>
  		</div></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4"><div class="panel panel-default">
  			<div class="panel-body">
  				<span class="label label-warning">Latest Tweets</span>
  					<h2>Chatter</h2>
					  <ul>
              <% @tweet_news.each do |f| %>
                <li>

                  <%= auto_link(f.text).html_safe %><br/>
                  <p><%= time_ago_in_words(f.created_at) %> ago</p>
                </li>
              <% end %>
            </ul>
  			</div>
  		</div>
  	</div>
</div>
